<div class="container mt-3">
  <div class="about-section">
    <img src="https://user-images.githubusercontent.com/49349272/219878413-9acaedfc-59cb-4596-882d-396aaf1373ff.png"
      width="200" height="200" alt="">
    <br>
    <br>
    <h1>Hediye Yıldırım</h1>
    <p>Frontend Developer</p>
    <p> <i>hediyeyldrm2@gmail.com</i> </p>
    <a class="icon" target="_blank" href="https://www.linkedin.com/in/hediyeyildirim/"><fa-icon
        [icon]="faLinkedin"></fa-icon></a>
    <a class="icon" target="_blank" href="https://github.com/hediyeyldrm"><fa-icon [icon]="faGithub"></fa-icon></a>
    <a class="icon" target="_blank" href="https://medium.com/@hediyeyldrm2"><fa-icon [icon]="faMedium"></fa-icon></a>
    <hr>
    <div class="paragraph">
      <h4 style="color: black; text-align: center;">Eğitim Bilgilerim</h4>
      <hr>
      <p> &#8594; Merhaba ben Hediye. İnönü Üniversitesi Bilgisayar Mühendisliği bölümünden 2022 yılında mezun
        oldum.</p>
      <p> &#8594; Üniversitedeyken Java diliyle geliştirmeler yaptım.</p>
      <p> &#8594; Okuldaki birçok dersimizde grup çalışması ile projeler çıkardık. Grup çalışmalarında senkronizasyonun
        ve planlı ilerlemenin çok önemli olduğunu fark ettim. Bu sayede grup çalışmasına yatkınlığım arttı. </p>
      <p>&#8594; Frontend alanında iyi hissettiğim için bu alanda kendimi geliştirme kararı aldım.</p>

      <hr>
      <h4 style="color: black; text-align: center;">Bildiğim Diller</h4>
      <hr>
      <p>&#8594;<strong> Programlama Dilleri:</strong> HTML, CSS, JavaScript, React, Angular </p>
      <p>&#8594;<strong> Veritabanı:</strong> PostgreSQL, Firebase, Microsoft SQL </p>

      <hr>
      <h4 style="color: black; text-align: center;">Yaptığım Projeler</h4>
      <hr>
      <p> &#8594; Zorunlu staj dönemimde grup arkadaşım ile Java dilini kullanarak Android Studio üzerinden foursquare
        benzeri bir konum etiketleme uygulaması yaptık. </p>
      <p> &#8594; Katıldığım React Bootcamp'inde bitirme projesi olarak; kullanıcıların Firebase veritabanını kullanarak
        kayıt ve giriş yapabilecekleri kişisel mesajlaşma uygulamasını yaptım. </p>
      <p> &#8594; ÇASGEM Miltek Projesi kapsamında verilen Web geliştirme eğitiminde bitirme projesi olarak; Bootcamp
        yönetim projesinde karşılama ekranında tanıtım sayfasını, bootcampleri görebilirsiniz. Kayıt olup giriş
        yapabilirsiniz. Aday, çalışan ve eğitmen olmak üzere 3 ayrı panel bulunmaktadır. </p>

      <hr>
      <h4 style="color: black; text-align: center;">Sertifikalarım</h4>
      <hr>
      <p> &#8594; ODTÜ Yazılıma Başlangıç Patikası</p>
      <p> &#8594; Başlangıç Seviye Frontend Web Development Patikası</p>
      <p> &#8594; DevOps Çözümleri(Jenkins)</p>
      <p> &#8594; Wingie Enuygun DevOps Bootcamp</p>
      <p> &#8594; Kodluyoruz React Bootcamp</p>
      <p> &#8594; ÇASGEM Miltek Projesi - Frontend Web Geliştirme Eğitimi (Angular)</p>

      <hr>
      <h4 style="color: black; text-align: center;">Katıldığım Bootcampler</h4>
      <hr>
      <p> &#8594; Wingie Enuygun DevOps Bootcamp (Online)</p>
      <p> &#8594; Kodluyoruz React Bootcamp (Online)</p>
      <p> &#8594; ÇASGEM Miltek Projesi - Web Geliştirme Eğitimi/Angular (Yüz yüze)</p>
    </div>
  </div>

  <hr>
</div>
