<div class="container-fluid">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let slider of sliderData">
        <img src={{slider.urlToImage}} class="image d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{slider.title}}</h5>
          <p>{{slider.description}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br>
<div class="title">
  <hr>
  <h1>NEWS</h1>
  <hr>
</div>
<div class="container ms-5">
  <div class="input-group">
    <input type="text" class="form-control" id="filter" [(ngModel)]="newsFilterText" placeholder="Search for News"
      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="cardStyle col-12">
    <div class="card mb-3" style="max-width: 48%;" *ngFor="let data of article | newsFilter: newsFilterText">
      <div class="row g-0" style="height: 100%;">
        <div class="col-4">
          <img src={{data.urlToImage}} class="img rounded-start" alt="...">
        </div>
        <div class="col-8" style="height: 100%;">
          <div class="card-body">
            <h5 class="card-title">{{data.title}}</h5>
            <p class="card-text">{{data.author}}</p>
            <!-- <p class="card-text"><small class="text-muted">{{data.publishedAt}}</small></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
