.nav-item {
  text-transform: uppercase;
  font-size: .8rem;
  font-size: large;
  letter-spacing: .40rem;
  font-weight: 400;
  display: inline-block;
  text-decoration: none !important;
}

.nav-item:hover {
  background-color: lightgray;
  border-radius: 8px;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: .8rem;
  font-size: large;
  letter-spacing: .40rem;
  font-weight: 5  00;
  display: inline-block;
  text-decoration: none !important;
}

.navbar-brand:hover {
  background-color: lightgray;
  border-radius: 8px;
}

.navbar {
  background-color: antiquewhite;
  border-radius: 8px;
}
